.video-parent-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    position: absolute;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
  }
  .video {
    height: 30rem;
    width: 100vw;
    object-fit: cover;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .hero-button {
    position: absolute;
    margin-top: 15rem;
    border: 3px solid white;
    color: white;
    padding: 12px;
    font-size: 1.4rem;
  }
}
