.beanSelectorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem 2rem 1rem;
  align-items: center;
  max-width: 700px;
  margin: 2rem auto;
  border-radius: 20px;
  box-shadow: 10px 20px 55px 0 rgba(92, 92, 92, 0.3);

  .box {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 2rem 0rem;

    .roastLevel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      margin-right: 13px;
      p {
        margin-right: 5vw;
      }
    }

    .type {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      gap: 2vw;

      p {
        margin-right: 5vw;
      }

      .typeOptions {
        display: flex;
        flex-direction: row;
        // gap: 1vw;
      }
    }

    .findButton {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .button {
        background-color: #006241;
      }
    }
  }
}

.MuiSlider-thumb {
  color: #006241;
}
.MuiSlider-rail {
  color: lightgreen;
}
.MuiSlider-track {
  color: #006241;
}
