.coffee-container {
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: flex-start;
  padding: 1rem 0rem 3rem;
  flex-direction: column;
  gap: 1.3rem;

  .skeleton-wrapper {
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem 1rem;
  }

  .title {
    font-size: 3.5rem; // Set font size to 4 rem for the title
    font-weight: bold; // Set font weight to bold for the title
    text-align: center;
    color: #006241;
  }

  .animated-row {
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: center;

    .revolving-text {
      margin-left: 20px;
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      div {
        display: inline-block;
        margin-right: 10px;
      }
    }

    .origin {
      margin-left: 10px;
      width: 40%;
      background-color: #ffffff;
      color: #1f3933; // Black font color for origin
      font-size: 4rem; // Set font size to 4 rem
      font-weight: bold; // Set font weight to bold
    }
  }
}
