.top-items-wrapper {
  // margin-left: 1rem;
  padding: 3rem 0rem;
}
.topBeansContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-right: -10px;
}

.skeletonItem {
  margin-right: 5px;
  margin: 1rem;
  .skeleton-component {
    border-radius: 12px;
  }
}

.parentWrapper {
  max-width: 219px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0px 35px 35px 8px;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 10px 20px 55px 0 rgba(92, 92, 92, 0.1);
  border-radius: 20px;
  .image {
    margin: 0px 5px;
    width: 11rem;
    object-fit: contain;
    height: 11rem;
    // flex-grow: 1;
  }

  .underPic {
    // flex-grow: 2;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    margin-left: 10px;
    .title {
      font-size: 1.4rem;
      font-weight: 400;
    }

    .brand {
      color: lightgrey;
      font-size: 1.5rem;
      font-weight: 400;
    }

    .ratingsAndNo {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: stretch;

      .reviewsNo {
        font-size: 1.3rem;
        color: darkgrey;
        font-weight: 400;
      }
    }

    .origin {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}

.topBeansContainer::-webkit-scrollbar {
  height: 8px;
}

.topBeansContainer::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 10px;
}

// .topBeansContainer::-webkit-scrollbar-track {
//   background-color: lightgray;
//   border-radius: 10px;
// }
