.profile-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
  .right-side {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    .propWrapper {
      display: flex;
      align-items: baseline;
      gap: 1rem;
      padding: 0.3rem 0rem;
      .propName {
        color: #1f3933;
        font-size: 1.5rem;
        font-weight: 600;
      }

      .propValue {
        color: #006241;
        font-size: 1.3rem;
      }
    }
  }
}
